<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>falcon1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BDC297551CB9568400D1C8B2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BDC2976E1CB9568400D1C8B2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BDC297791CB9568400D1C8B2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
